.top_paths_title {
  margin: 2rem 0 1rem 0;
}

.top_paths_prompt {
  margin-bottom: 1.5rem;
  font-size: 13px;
  .spoilers {
    display: block;
    text-align: center;
    font-weight: 700;
  }
  .top_paths_aggregated_data {
    display: block;
    margin-bottom: 1rem;
  }
}

.live_designation_container {
  display: flex;
  width: 250px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  .live_designation {
    display: flex;
    align-self: center;
    z-index: 99999;
    background-color: #d43935;
    box-shadow: 0 0 8px 1px #d6433f;
    opacity: 0.7;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
  p {
    opacity: 0.7;
    font-size: 16px;
    margin: 0 0 0 0.5rem;
    padding: 0;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.individual_path_container {
  background: rgb(30, 30, 30);
  margin-bottom: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 5rem;
  border: 1px solid #30363d;

  .path_numbers_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 4.5rem;

    p {
      text-align: left;
      font-size: 0.8rem;
      margin: 0;
      color: rgb(160, 160, 160);
      font-weight: 300;

      &:first-child {
        margin-bottom: 0.25rem;
      }

      b {
        color: #fff;
      }
    }
  }

  .who_button {
    text-align: center;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .collapse_container {
    margin-top: 0;
    overflow: auto;
    .collapsed_path_full_info {
      font-size: 0.9rem;
      margin: 0 1.5rem;
      text-align: center;
    }
  }
}

.all_paths_container {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 6rem;

  span {
    margin: 6rem 0;
  }

  .no_paths_played_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
    padding: 0 1rem;
    svg {
      margin: 1rem 0 1.5rem 0;
      opacity: 0.6;
    }
  }

  .collapse_container {
    overflow: auto;
    height: 100%;
    padding: 2rem 0;
  }
}

.circle_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle_and_numbers_container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.rank_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(240, 240, 240);
  border-radius: 50px;
  width: 2.5rem;
  height: 2.5rem;
  color: #000;
  margin: 0 auto;
  margin-left: 1rem;

  p {
    font-weight: 900;
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.bottom_path_reactions_container {
  display: flex;
  z-index: 1;
  border-top: 1px solid rgb(85, 85, 85);
  border-bottom: 1px solid rgb(85, 85, 85);
  background: rgb(30, 30, 30);
  width: 100%;
  max-height: 2.25rem;
}
