.app_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  padding-top: 7rem;
  box-sizing: border-box;
  transition: background 0.4s ease, color 0.4s ease;

  &.dark {
    background: #010408;
    color: #fff;

    @media only screen and (min-width: 32rem) {
      outline: 1px solid #30363d;
    }
  }
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  max-width: 32rem;
}

.main_spinner_container {
  width: 100%;
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    padding-top: 1rem;
    font-size: 1.25rem;
  }
}

.Toastify__toast-container {
  position: fixed;
  top: 70px;
  z-index: 99999999999 !important;
}

.Toastify__toast-theme--dark {
  border: 1px solid #30363d;
}

.first_actor_container {
  border-bottom: 1px solid rgb(200, 200, 200);
  width: 100%;
  margin-bottom: 2rem;
}

.last_actor_container {
  border-top: 1px solid rgb(200, 200, 200);
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 5rem;
}

.main_response_input_container {
  width: 100%;

  &.with_guesses {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 1rem;
    padding-top: 2rem;
  }
}
