.app_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: #fff;
  padding-top: 7rem;
  box-sizing: border-box;
  transition: background 0.4s ease, color 0.4s ease;

  &.dark {
    background: #010408;
    color: #fff;

    @media only screen and (min-width: 32rem) {
      outline: 1px solid #30363d;
    }
  }
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  max-width: 32rem;
}

.main_spinner_container {
  width: 100%;
  margin: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    padding-top: 1rem;
    font-size: 1.25rem;
  }
}

.Toastify__toast-container {
  position: fixed;
  top: 70px;
  z-index: 99999999999 !important;
}

.Toastify__toast-theme--dark {
  border: 1px solid #30363d;
}

.first_actor_container {
  // border-bottom: 1px solid rgb(200, 200, 200);
  width: 100%;
  margin-bottom: 2rem;
}

.last_actor_container {
  // border-top: 1px solid rgb(200, 200, 200);
  width: 100%;
  // padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 5rem;
}

.main_response_input_container {
  width: 100%;

  &.with_guesses {
    border-top: 1px solid rgb(200, 200, 200);
    margin-top: 1rem;
    padding-top: 2rem;
  }
}

@mixin sidebar {
  display: flex;
  box-sizing: border-box;
  max-width: 600px;
  height: 600px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 25%;
  margin: 0 auto;

  &:after {
    content: "\200b";
  }
}

@mixin sidebar_outer_container {
  position: absolute;
  width: 35.5vw;
  height: 100vh;

  @media only screen and (min-width: 2000px) {
    width: 38.5vw;
  }
  @media only screen and (min-width: 2300px) {
    width: 40vw;
  }
}

@mixin inner_container {
  position: relative;
  width: 100%;
  height: 100%;
}

// Ads
@media only screen and (min-width: 1500px) {
  .left_ad_container {
    @include sidebar_outer_container;
  }
  .left_ad_inner_container {
    @include inner_container;
  }
  #ezoic-pub-ad-placeholder-101 {
    @include sidebar;
  }

  .right_ad_container {
    @include sidebar_outer_container;
    top: 0;
    right: 0;
  }
  .right_ad_inner_container {
    @include inner_container;
  }
  #ezoic-pub-ad-placeholder-103 {
    @include sidebar;
  }
}

@mixin ad_square_line {
  content: "\200b";
  width: 100%;
  height: 1px;
  background: rgb(200, 200, 200);
  display: block;
  position: relative;
  top: 2rem;
}

#ezoic-pub-ad-placeholder-104 {
  height: 4rem;
  &::after {
    @include ad_square_line;
  }
}

#ezoic-pub-ad-placeholder-105 {
  height: 4rem;
  margin-bottom: 1rem;
  &::after {
    @include ad_square_line;
  }
}
