.comment_container {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  z-index: 999999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 33%;
  outline: 1px solid rgb(150, 150, 150);
  background: rgb(65, 65, 65);
  padding-left: 1px;
  margin-left: 1px;
  color: #fff;
  min-width: 163.86px;
  @media only screen and (min-width: 500px) {
    min-width: 189.65px;
  }
  .comment_icon {
    color: #fff;
    path {
      fill: #fff;
      stroke: #000;
      stroke-width: 30px;
      stroke-dasharray: 2, 2;
      stroke-linejoin: round;
    }
  }
  .comment_text {
    color: #fff;
    margin: 0 0 0 0.5rem;
    padding: 0;
    font-weight: 600;
  }
  &:hover {
    cursor: pointer;
    background: rgb(115, 115, 115);
  }
}

.total_comments_container {
  outline: 1px solid rgb(150, 150, 150);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(150, 150, 150);
  @media only screen and (max-width: 768px) {
    margin-right: 1px;
  }
  .total_comments_text {
    font-size: 1.25rem;
    font-weight: 700;
    vertical-align: center;
    padding: 0;
    margin: 0 0 0 0.5rem;
    // color: rgb(24, 228, 192);
  }
}

.path_details_container {
  .path_details_comments_header {
    background: rgb(35, 35, 35);
    padding: 0.75rem 0.5rem;
    margin: 0;
    border-bottom: 1px solid rgb(85, 85, 85);
    p {
      color: rgb(215, 215, 215);
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  }
}

.individual_comment_container {
  padding: 0.25rem 0.5rem;
  display: flex;
  border-bottom: 1px solid rgb(50, 50, 50);
  .individual_comment_icon_container {
    display: flex;
    flex-direction: column;
    position: relative;
    p {
      padding: 0;
      position: absolute;
      top: 1.45rem;
      bottom: 0;
      right: 0;
      left: 0.4rem;
      margin: 0 auto;
      font-size: 1.15rem;
      z-index: 9;
    }
    .individual_comment_icon {
      opacity: 0.4;
      margin-top: 1rem;
      height: 35px;
      width: 35px;
      background: #bbb;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .individual_comment_text_container {
    display: flex;
    margin-left: 0.75rem;
    .individual_comment_text {
      padding-right: 1.5rem;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}
