.leaderboard_modal {
  padding-top: 2rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: auto;
  width: auto !important;

  /* Extra padding to allow scroll to see entire board */
  @media only screen and (max-width: 768px) {
    padding-bottom: 25rem !important;
  }

  .leaderboard_container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .leaderboard_disclaimer {
    &:not(ul) {
      margin: 0 0 0.25rem 0;
      padding: 1rem;
    }

    &:first-child {
      padding-bottom: 0;
      &:not(.criteria) {
        border-top: 1px solid rgb(50, 50, 50);
      }
    }

    &:nth-child(3) {
      padding-top: 0;
    }
    font-size: 0.85rem;

    @media only screen and (min-width: 550px) {
      font-size: 0.85rem;
    }

    .leaderboard_eligibility_toggle_view {
      cursor: pointer;
      border-bottom: 1px solid #fff;
      padding-bottom: 0.25rem;
    }
  }

  .close_modal_button {
    z-index: 99999;
  }

  .back_modal_button {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: transparent;
    font-size: 18px;
    z-index: 99999;

    @media only screen and (max-width: 768px) {
      // Increase button surface area for mobile touch
      padding-right: 3rem;
      padding-bottom: 3rem;
    }
  }

  .leadboard_title_container {
    position: relative;
    z-index: 99999;

    .leaderboard_title {
      z-index: 9999999;
      overflow: hidden;
    }

    .spotlight_image {
      position: absolute;
      top: -4.5rem;
      right: 0rem;
      width: 9rem;
      -webkit-transform: scaleX(-1) rotateZ(180deg);
      transform: scaleX(-1) rotateZ(180deg);
      opacity: 0.5;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .spotlight_svg_light_path {
        animation: fadeIn linear 0.5s;
      }

      &.left {
        left: 0rem;
        right: auto;
        transform: rotateZ(180deg);
      }

      @media only screen and (min-width: 768px) {
        right: 2rem;

        &.left {
          left: 2rem;
          right: auto;
        }
      }
    }
  }

  .leaderboard_set_username {
    width: 250px;
    margin-top: 2rem;
    opacity: 1;
    transition: opacity 0.4s ease;

    &.ladda-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.6rem;
      margin-bottom: 1rem;
      border: none;
      border-radius: 4px;
      text-align: center;
      vertical-align: middle;
    }

    &.invalid {
      opacity: 0.4;
      pointer-events: none;
    }

    .ladda-label {
      font-size: 14px;
    }
  }

  .leadboard_navigation_container {
    .leadboard_navigation_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 0 2rem 0;

      h2 {
        margin: 0;
        padding: 0;
      }

      .who_button {
        margin-top: 2rem;
        width: 250px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ReactCollapse--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .invalid-feedback {
          width: 250px;
        }

        .form-text {
          width: 250px;
          font-size: 0.7rem;
          margin-top: 1rem;
        }
      }

      .leaderboard_username_input_container {
        margin-top: 2rem;

        .leaderboard_username_inner_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .leaderboard_username_disclaimer {
            text-align: center;
            margin-top: 0;
            margin-bottom: 2rem;
            max-width: 300px;
            font-size: 0.9rem;
          }
        }

        input {
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          max-width: 225px;
        }
      }
    }
  }
}

.main_leaderboard {
  font-size: 0.9rem;
  overflow-x: hidden;

  .expanded_td_container {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    border: none;
  }
  .table_path {
    height: 0px;
    max-height: 0px;
    transition: height 0.25s ease-in, max-height 0.25s ease-in;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h3 {
      margin: 1rem 0rem 0.5rem 0rem;
      padding: 0 0 0.5rem 0;
      border-bottom: 1px solid rgb(100, 100, 100);
      width: max-content;
    }

    p {
      margin: 0 1.5rem 1rem 1.5rem;
      padding-top: 0.25rem;
      cursor: text;
    }

    &.expanded {
      height: 100%;
      max-height: 200px;
      transition: height 0.25s ease-in, max-height 0.25s ease-in;
      background: rgb(30, 30, 30) !important;
      overflow: hidden;
      cursor: default;
    }
  }

  .table_row {
    th {
      &:first-child {
        width: 10px !important;
        max-width: 10px !important;
      }
    }
  }

  thead th {
    font-size: 0.8rem;
    background: rgb(30, 30, 30);
    color: #fff;
    border-top: 1px solid #30363d !important;
    border-bottom: 2px solid #30363d !important;
    vertical-align: middle !important;
  }

  .collapse_trigger_element {
    .collapse_caret {
      transform: rotateZ(0deg);
      transition: transform 0.5s ease;

      &.expanded {
        transform: rotateZ(180deg);
      }
    }
  }

  tbody {
    th,
    td {
      vertical-align: middle;
      width: 100%;
    }
  }

  tbody tr {
    position: relative;

    @mixin activeSection {
      th,
      td:not(.expanded) {
        background: rgb(75, 75, 75) !important;
        cursor: pointer;
      }
    }

    &:active {
      @include activeSection;
    }

    @media only screen and (min-width: 768px) {
      &:hover {
        @include activeSection;
      }
    }
    th,
    td {
      text-align: center;
    }
  }

  tbody tr:not(:last-child) {
    th,
    td {
      border-bottom: 1px solid #30363d !important;
      border-top: 1px solid #30363d !important;
    }
  }

  tbody tr:nth-child(odd) {
    th,
    td {
      background: rgb(10, 10, 10);
      color: #fff;
      width: 95px !important;
      max-width: 95px !important;
      text-align: center;
    }
  }

  tbody tr:nth-child(even) {
    th,
    td {
      background: rgb(30, 30, 30);
      color: #fff;
    }
  }

  @media only screen and (max-width: 540px) {
    font-size: 0.65rem;

    h2 {
      font-size: 0.8rem;
    }

    thead th {
      font-size: 8px;
    }

    tbody {
      th,
      td {
        padding: 0.45rem !important;
      }
    }

    img {
      width: 15px;
    }
  }
}

.leaderboard_connection_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  width: 100%;
  border-top: 1px solid #30363d;
  border-bottom: 1px solid #30363d;
  padding: 0.5rem 0;
  background: rgb(40, 40, 40);

  p {
    margin: 0;
    padding: 0;

    &:nth-child(2) {
      margin-top: 0.25rem;
      font-weight: 400;
    }
  }
}
