.archive_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: #fff;
  box-sizing: border-box;
  transition: background 0.4s ease, color 0.4s ease;

  &.dark {
    background: #010408;
    color: #fff;

    @media only screen and (min-width: 32rem) {
      outline: 1px solid #30363d;
    }
  }

  .archived_game_title {
    height: 3rem;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #30363d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    background: #323232;
    color: #fff;

    &.dark {
      background: #0e1117;
    }
  }

  .archive_prompt {
    font-size: 1rem;
    @media only screen and (max-width: 520px) {
      margin: 2rem;
    }
  }

  .archive_date_container {
    color: #fff;
  }

  .archive_results_container {
    width: 100%;
    padding: 1rem 0;
    .archive_date_container {
      width: 100%;
    }
  }

  .archive_individual_actor_container {
    h2 {
      color: #000 !important;
    }
    &.dark {
      h2 {
        color: #fff !important;
      }
    }
  }

  .spoiler_warning {
    color: #000;
    &.dark {
      color: #fff;
    }
  }
}
