@use "../../components/Header/mixins/header_hover" as header_hover;

.archive_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background: #fff;
  box-sizing: border-box;
  transition: background 0.4s ease, color 0.4s ease;

  &.dark {
    background: #010408;
    color: #fff;

    @media only screen and (min-width: 32rem) {
      outline: 1px solid #30363d;
    }
  }

  .archived_game_title {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #30363d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    background: #323232;
    color: #fff;

    &.dark {
      background: #0e1117;
    }

    &.selection_buttons {
      border: none;
      justify-content: space-between;
      margin-top: 1rem;
      @media only screen and (min-width: 500px) {
        justify-content: space-evenly;
      }

      .archived_selection_button {
        width: 100%;
        margin: 0 1.5rem;
        background: #000;
        color: #fff;
        border: 1px solid #fff;
        transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;

        &.selected {
          background: #b9b9b9;
          color: #000;
          border: 1px solid transparent;
        }
      }
    }
  }

  .archive_prompt {
    font-size: 1rem;
    margin: 1rem 1.5rem 2rem 1.5rem;
    @media only screen and (min-width: 600px) {
      margin: 1.5rem 1.5rem 2rem 1.5rem;
    }
  }

  .archive_date_container {
    color: #fff;
    background: #323232;
    &.dark {
      background: #1e1e1e;
    }
  }

  .archive_results_container {
    width: 100%;
    padding: 1rem 0;
    .archive_date_container {
      width: 100%;
    }
  }

  .archive_individual_actor_container {
    h2 {
      color: #000 !important;
    }
    &.dark {
      h2 {
        color: #fff !important;
      }
    }
  }

  .achive_actor_separator_arrow,
  .spoiler_warning {
    path {
      fill: #000;
    }
    color: #000;
    &.dark {
      color: #fff;
      path {
        fill: #fff;
      }
    }
  }

  .react-autosuggest__suggestions-container {
    left: 1.5rem;
    width: 88%;
    @media only screen and (min-width: 768px) {
      width: 90%;
    }
  }
  .autosuggest_input_container {
    margin: 0 1.5rem;
  }
  .archive_search_results_container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    .archive_search_results_found {
      border-top: 1px solid #414141;
      padding: 1.5rem 0 0 1.5rem;
      margin-bottom: 1.5rem;
    }
    .archive_search_result {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      .archive_search_actors_container {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
        h2 {
          font-size: 0.8rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.9rem;
          max-width: 90px;
        }
      }
      .archive_individual_actor_container {
        max-width: 100px;
        img {
          max-width: 3rem;
        }
      }
      .archive_search_date {
        display: flex;
        flex-direction: column;
        background: #1e1e1e;
        text-align: center;
        font-weight: 700;
        border-top: 1px solid #414141;
        border-bottom: 1px solid #414141;
        width: 100%;
        margin-top: 0;
        padding: 0.5rem 0 0.5rem 0.5rem;
        span {
          &:first-child {
            font-size: 0.8rem;
            font-weight: 400;
            margin-bottom: 0.3rem;
          }
        }
      }
    }
  }
}

.header_back_button {
  @include header_hover.header-hover;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
