.archive_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 32rem;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 4rem;
  background: #fff;
  box-sizing: border-box;
  transition: background 0.4s ease, color 0.4s ease;

  &.dark {
    background: #010408;
    color: #fff;

    @media only screen and (min-width: 32rem) {
      outline: 1px solid #30363d;
    }
  }

  .archived_game_title {
    align-self: center;
    margin-bottom: 0;
  }

  .archive_prompt {
    font-size: 1rem;
  }

  .archive_results_container {
    width: 100%;
    padding: 1rem 0;
    .archive_date_container {
      width: 100%;
    }
  }
}
