@use "../../../components/Header/mixins/header_hover" as header_hover;
@use "../../../components/Header/mixins/header_hover_dark" as header_hover_dark;

.loader_container {
  width: 100%;
  display: flex;
  svg {
    width: 100%;
  }
}

.article_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1.5rem;
  height: 100%;
  .article_title {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .article_details {
    display: flex;
    font-size: 1.1rem;
    .details_divider {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .article_image_container {
    width: 100%;
    position: relative;
    outline: 1px solid rgb(215, 215, 215);
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 190px;
    max-height: 190px;
    overflow: hidden;
    @media only screen and (min-width: 768px) {
      min-height: 260px;
      max-height: 260px;
    }
    img {
      flex: 1;
      object-fit: cover;
      width: 100%;
      height: 190px;
      overflow: hidden;
      @media only screen and (min-width: 768px) {
        height: 260px;
      }
    }
  }
  .article_share_buttons_container {
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .winner_kofi_button {
      margin: 0;
      padding: 0;
    }
    .kofi-button {
      margin: 0;
    }
    .winner_kofi_button:first-child {
      &:hover {
        .kofi-button {
          background: rgba(83, 141, 78, 0.8);
          .kofitext {
            color: rgba(255, 255, 255, 0.8) !important;
          }
        }
      }
    }
    &.dark {
      border-bottom: 1px solid rgb(100, 100, 100);
      .tooltip_outer_wrapper {
        background: #fff;
        border: 1px solid #fff;
        color: #000;
        fill: #000;
      }
      .tooltip_container {
        > div::after {
          border-top-color: #fff;
          border-color: #fff transparent transparent transparent;
        }
      }
    }
  }
  .article_text_container {
    height: 100%;
    margin-top: 0.5rem;
    line-height: 1.75;
    a {
      @include header_hover.header-hover;
      text-decoration: none;
      color: #000;
      border-bottom: 1px solid #000;
      padding-bottom: 0.1rem;
      border-bottom: 1px solid rgb(200, 200, 200);
    }
    &.dark {
      a {
        @include header_hover_dark.header_hover_dark;
        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover {
          border-bottom: 1px solid rgb(155, 155, 155);
        }
      }
    }
  }
  .article_bottom_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(215, 215, 215);
    margin-top: 3rem;
    padding-top: 3rem;
    .article_read_more_news,
    .article_back_to_top {
      display: flex;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
    }
    @mixin dark_hover {
      &.dark {
        &:hover {
          color: rgb(180, 180, 180) !important;
          svg {
            fill: rgb(180, 180, 180) !important;
          }
        }
      }
    }
    .article_read_more_news {
      @include header_hover.header-hover;
      svg {
        margin-right: 0.25rem;
      }
      @include dark_hover;
    }
    .article_back_to_top {
      @include header_hover.header-hover;
      svg {
        margin-left: 0.5rem;
      }
      @include dark_hover;
    }
  }
}
