b.incorrect {
  color: #e32;
}

b.correct {
  color: green;
}

b.partial {
  color: rgb(255, 100, 0);
}

.response_header {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.response_bottom_points {
  display: block;
  padding-top: 0.5rem;
}

.interactive_container {
  box-sizing: border-box;
  background: rgb(230, 230, 230);
  margin: 0 auto 1rem 0;
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.question_block {
    background: rgba(175, 201, 240, 0.4);
  }
}

.points_statement {
  padding: 0 2rem;
}

.question_container {
  display: flex;

  p {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
